<?xml version="1.0" encoding="UTF-8"?>
<web-app
        version="2.5"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Java EE Servlet</display-name>

    <servlet>
        <servlet-name>servlet</servlet-name>
        <servlet-class>ru.mirea.AppServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>servlet</servlet-name>
        <url-pattern>/tags</url-pattern>
    </servlet-mapping>

</web-app>